/* Estilos generales */
* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

:root {
    /* Variables de estilo */
}

body {
    display: flex;
    flex-direction: column;
    min-height: 100vh; /* Asegura que el contenido ocupe al menos toda la altura de la ventana */
    margin: 0; /* Asegura que no haya margen adicional en el cuerpo */
    position: relative; /* Añadir posición relativa para el body */
}

/* Estilo para el contenido principal */
.main-content {
    flex-grow: 1;
}

/* Estilos para el formulario */
.form-control {
    width: 100%;
    padding: 10px;
    margin-bottom: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-sizing: border-box;
    background-color: #f0f0f0;
}

.form-control:hover {
    border-color: #beafaf;
}

/* Estilos para el contenedor del formulario */
.form-container {
    max-width: 500px;
    margin: 0 auto;
    padding: 20px;
    font-size: 18px;
    font-weight: bold;
    font-family: "Gill Sans Extrabold", Helvetica, sans-serif;
}

.form-container h1 {
    text-align: center;
    color: #333;
    margin-bottom: 20px;
}

.form-container button[type="submit"] {
    background-color: #c0c0c0;
    color: black;
    font-weight: bold;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    display: block;
    margin: 0 auto;
}

.form-container button[type="submit"]:hover {
    background-color: #a1a7a1;
}

/* Estilos para el fondo de color */
.bg-color {
    background-color: #f5f6f7;
}

/* Estilos para el lista de tareas */
/* Estilos para la lista de tareas */
.task-list-container {
    margin: 0 20px;
}

.grid-container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    gap: 20px;
    overflow: hidden;
    max-width: max-content;
}

.grid-item {
    background-color: #9c9c9c;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    border: 2px solid #0a0a0a;  
}

.grid-item h2 {
    font-size: 16px;
    margin-bottom: 10px;
}

.grid-item p {
    font-size: px;
    margin-bottom: 10px;
}

.grid-item:nth-child(3n) {
    margin-right: 0;
}

.grid-container::after {
    content: "";
    display: table;
    clear: both;
}

/* Estilos para los botones de las tareas */
.task-buttons {
    margin-top: 10px;
}

.btn-modify,
.btn-delete {
    display: inline-block;
    padding: 5px 10px;
    margin-right: 10px;
    text-decoration: none;
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 5px;
}

.btn-modify:hover,
.btn-delete:hover {
    background-color: #0056b3;
}

.task-list-container h1 {
    text-align: center;
    margin-bottom: 20px;
}

.task-list-container ul {
    list-style-type: square;
}

/* Estilos para el menú horizontal */
.navbar {
    background-color: #92a8aa;
    padding: 10px;
    text-align: right;
    font-family: "Gill Sans Extrabold", Helvetica, sans-serif;
    text-align: right; /* Alinea el contenido a la derecha */
    font-family: "Gill Sans Extrabold", Helvetica, sans-serif; /* Tipo de letra agradable al usuario */
}

.navbar-menu {
    list-style-type: none;
    padding: 0;
    margin: 0;
    display: inline-block;
}

.navbar-item {
    display: inline-block;
    margin-left: 10px;
}

.navbar-link {
    color: #131313;
    text-decoration: none; /* Elimina el subrayado de los enlaces */
    padding: 10px;
    border-radius: 5px;
    transition: background-color 0.3s;
}

.navbar-link:hover {
    background-color: #555555;
}

.submenu {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
    z-index: 1;
    list-style: none;
    padding: 0;
    margin: 0;
}

.submenu li {
    padding: 8px 12px;
    text-align: left;
}

.submenu a {
    color: black;
    text-decoration: none;
    display: block;
}

.submenu a:hover {
    background-color: #ddd;
}

.navbar-item {
    display: inline-block; /* Para que los elementos del menú se muestren en línea */
    margin-left: 10px; /* Espaciado entre elementos del menú */
}

.navbar-item:hover .submenu {
    display: block;
    opacity: 1;
    visibility: visible;
    transition: opacity 0.3s ease-in-out, visibility 0.3s ease-in-out;
}
.navbar-link {
    color: #131313; /* color del texto del menu*/
    text-decoration: none;
    padding: 10px;
    border-radius: 5px; /* Añade esquinas redondeadas a los enlaces */
    transition: background-color 0.3s; /* Transición suave para el cambio de color de fondo */
}

.navbar-link:hover {
    background-color: #555555; /* Cambia el color de fondo al pasar el ratón sobre el enlace */
}

/* Estilos para el footer */
.footer {
    background-color: #92a8aa; /* Color de fondo del footer */
    color: #131313; /* Color del texto del footer */
    padding: 20px; /* Espaciado interno del footer */
    text-align: center; /* Alineación del texto al centro */
    position: absolute; /* Cambiar a posición absoluta */
    bottom: 0; /* Lo coloca al fondo de la página */
    width: 100%; /* Ocupa el ancho completo de la página */
}

/* Estilos para la información del footer */
.footer-info {
    display: flex; /* Muestra los elementos en línea */
    justify-content: center; /* Centra horizontalmente los elementos */
    justify-content: space-around; /* Distribuye uniformemente los elementos a lo largo del contenedor */
    flex-wrap: wrap; /* Permite que los elementos se envuelvan en varias líneas si no caben en una sola */
}

.footer-info span {
    margin-right: 20px; /* Espacio entre cada línea de texto */
}

.footer-info span:last-child {
    margin-right: 0; /* Elimina el margen derecho del último elemento */
}

/* Estilos para el formulario de crear costurera */
.form-crear-costurera {
    margin-bottom: 120px;
}

.title {
    text-align: center;
}

/* Estilos para el contenedor principal */
.contactanos-container {
    display: flex;
    justify-content: space-between;
    align-items: center; /* Alinea verticalmente los elementos */
}

/* Estilos para el contenedor del formulario */
.form-container {
    width: 45%; /* Ancho del contenedor del formulario */
    padding: 20px; /* Espaciado interno del contenedor */
    box-sizing: border-box; /* Incluye el padding en el ancho total */
}

/* Estilos para el contenedor de la imagen */
.imagen-container {
    width: 45%; /* Ancho del contenedor de la imagen */
    padding: 20px; /* Espaciado interno del contenedor */
    box-sizing: border-box; /* Incluye el padding en el ancho total */
    text-align: center; /* Alinea la imagen al centro horizontalmente */
    margin: 0 auto; /* Centra horizontalmente el contenedor de la imagen */
}
@keyframes moveUpDown {
    0% {
      transform: translateY(0);
    }
    50% {
      transform: translateY(-10px);
    }
    100% {
      transform: translateY(0);
    }
  }

/* Estilos para la imagen */
.imagen-container img {
    max-width: 100%; /* Asegura que la imagen se ajuste al contenedor */
    height: auto; /* Mantiene la proporción de la imagen */
    animation: moveUpDown 3s ease infinite; /* Aplica la animación a la imagen */
}

/* Estilos para el formulario de contacto */
.contact-form {
    max-width: 500px; /* Ancho máximo del formulario */
    margin: 0 auto; /* Centra el formulario horizontalmente */
    padding: 20px; /* Espaciado interno del formulario */
    background-color: #f5f6f7; /* Color de fondo del formulario */
    border-radius: 10px; /* Borde redondeado del formulario */
}

.contact-form label {
    display: block; /* Hace que las etiquetas ocupen toda la anchura disponible */
    margin-bottom: 10px; /* Espaciado inferior entre etiquetas */
    font-weight: bold; /* Texto en negrita */
}

.contact-form input[type="text"],
.contact-form input[type="email"],
.contact-form textarea {
    width: 100%; /* Ancho completo para los campos de texto y correo */
    padding: 15px; /* Espaciado interno más grande */
    margin-bottom: 20px; /* Espaciado inferior */
    border: 1px solid #ccc; /* Borde del campo */
    border-radius: 5px; /* Borde redondeado */
    box-sizing: border-box; /* Incluye el relleno y el borde en el ancho total */
    background-color: #fff; /* Color de fondo */
    font-size: 16px; /* Tamaño del texto */
}

.contact-form textarea {
    height: 150px; /* Altura del campo de texto más grande */
}

.contact-form button[type="submit"] {
    background-color: #007bff; /* Color de fondo del botón */
    color: #fff; /* Color del texto */
    font-weight: bold; /* Texto en negrita */
    padding: 15px 20px; /* Espaciado interno más grande */
    border: none; /* Sin borde */
    border-radius: 5px; /* Borde redondeado */
    cursor: pointer; /* Cursor de puntero */
    transition: background-color 0.3s; /* Transición suave */
}

.contact-form button[type="submit"]:hover {
    background-color: #0056b3; /* Color de fondo al pasar el ratón */
}
