{% extends "layouts/app.html" %}

{% block title %}
Portada
{% endblock %}

{% block content %}
{% load static %}

<header>
    <h1 class="title">Gestión de Tareas textil</h1>
</header>
<main>
    <section class="fabrica-section">
        <div class="fabrica-info-left">
            <h2>Problematica</h2>
            <p>
En una fábrica textil, se presenta una problemática significativa relacionada con la asignación de tareas a sus costureras. Estas costureras son esenciales en el proceso de confección de prendas, pero la falta de un sistema eficiente de asignación de tareas está generando dificultades en la producción y tensiones en el equipo.
Por ejemplo, consideremos el caso de una fábrica que necesita confeccionar una colección de camisas de alta demanda para la próxima temporada. Las costureras, responsables de coser las piezas de tela para ensamblar las camisas, enfrentan problemas para recibir instrucciones claras y específicas sobre cuántas camisas deben producir en cada turno y qué tipo de costuras o detalles deben priorizarse en cada una.
Esta falta de claridad en la asignación de tareas provoca confusiones, retrasos en la producción y, en última instancia, afecta la calidad de las prendas. Algunas costureras pueden sentirse abrumadas por una carga de trabajo desigual, mientras que otras pueden tener períodos de inactividad, lo que conduce a un uso ineficiente de los recursos y a tensiones entre los miembros del equipo.
Además, la falta de un sistema transparente y equitativo para asignar tareas puede generar resentimiento entre las costureras y la gerencia, lo que afecta negativamente el ambiente laboral y la motivación del personal.
Es imperativo abordar esta problemática implementando un sistema de asignación de tareas más justo y eficiente, que garantice una distribución equitativa de la carga de trabajo y promueva una comunicación clara y abierta entre la gerencia y el equipo de costureras.
</p>
            <h2>Visión</h2>
            <p>Aquí va tu visión...</p>
        </div>
        <div class="fabrica-info-right">
            <img src="{% static 'fabrica.png' %}" alt="Imagen de la fábrica">
        </div>
    </section>
</main>
{% endblock %}

